<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<div th:insert="fragments :: head"></div>
<body>
<div th:insert="fragments :: nav"></div>
<div class="container mt-5">
    <div class="row">
        <div class="form-group mt-2 col">
            <form method="post">
                <div class="form-group">
                    <h1 th:text="#{lang.message}"></h1>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="text" th:placeholder="#{lang.message_placeholder}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{lang.message_button}"></button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<!--<style type="text/css">
    .option {
        display: none;
    }

    .show {
        display: block;
    }
</style>-->

<div class="container mt-5 option">
    <h2 th:text="#{lang.show_message}"></h2>
    <div>
        <div class="mt-2">
            <!--<h3 th:text="#{lang.popup_message}"></h3>-->
            <p th:text="${message}"></p>
        </div>
    </div>
</div>
</body>
</html>